<section>
    <div class="container">
        <h1  class="text-center">Stock Tracker</h1>
      <div class="row">
        
        <div class="col-md-3 list-container" >
            <ul class="list-group">
                <li class="list-group-item row" *ngFor="let stock of stockList"> 
                  {{stock.symbol}}  <span data-toggle="tooltip" data-placement="top" title="{{stock.name}}">*</span> 
                  
                </li>
                
              </ul>
           
          
        </div>
        <div class="col-md-9 display-container" >

             <div class="row">
                    <div class="col-md-6 name">
                            {{stockDetails |  async }} <br/> 
                            Full Name
                    </div>
                    <div class="col-md-3 time">
                          Time updated
                    </div>
                    <div class="col-md-3 price">
                            <div class="high">
                              High
                            </div>
                            <div class="low">
                              Low
                            </div>
                    </div>
             </div>
             <div class="row">
               <div class="col-md-12 graph-container">
                      Graph
               </div>
             </div>
        </div>
      </div>
    
    </div>
    </section>