<section>
    <div class="container">
        
      <div class="row">

        

        <div class="col-md-9 display-container" >
          <div class="loader" [hidden]="!loading">
              <img src="assets/loader.gif" alt="">
          </div>
          <div  [hidden]="loading">
              <div class="row" >
                  <div class="col-md-5 name" >
                      <div class="symbol">
                          {{stockDetails.symbol }} 
                        </div>
                        <div class="fullname">
                          {{stockDetails.name }}
                          </div>
                  </div>
                  <div class="col-md-4 time">
                      <div class="date">
                          {{stockDetails.time | date:'mediumDate':'+0530'}} 
                      </div>
                      <div class="lasttime">
                          {{stockDetails.time | date:'h:mm a ' }}
                      </div>
                    
                  </div>
                  <div class="col-md-3 price">
                          <div class="high">
                              <i class='material-icons'>trending_up</i> {{stockDetails.high | number:'1.02'}}
                          </div>
                          <div class="low">
                              <i class='material-icons'>trending_down</i> {{stockDetails.low | number:'1.02'}}
                          </div>
                  </div>
           </div>
           <div class="row " >
             <div class="col-md-12 graph-container">
                    <div id="graph" #graph></div>
             </div>
           </div>

          </div>
           
        </div>

        <div class="col-md-3 list-container" >
            <ul class="list-group">
                <li class="list-group-item row" *ngFor="let stock of stockList" [ngClass]="{'active': stockActive == stock.symbol}" (click)="afterStockSelect(stock.symbol, stock.name)"> 
                  {{stock.symbol}}  <span class="material-icons" data-toggle="tooltip" data-placement="top" title="{{stock.name}}">info_outline</span> 
                </li>
              </ul>
        </div>
      </div>
    
    </div>
    </section>