.form-container{
    margin: 0 auto;
}

ul.search-list{
    width: 100%;
    list-style: none;
    padding: 0px;
    background: #fff;
    border: 1px;
    position: absolute;
    z-index: 1;
}
.search-list-container{
    position: relative;
}
ul.search-list li{
    padding: 5px 10px;
    border-top: 0px;
    cursor: pointer;
    background: #484848;
    color: white;
    border:none;
}

.form-group{
    margin-bottom: 40px;
}
.btn-group{
    display: flex;
    height: 38px;
    flex-wrap: wrap;
  
}
.btn-group input{
    text-align: center;
    font-size: 18px;
    border-radius: 0px;
    border: 1px solid #484848;
    box-shadow: none;
    background: #fff;
}

.btn-group .clear{
    background: #484848;
    color: #fff;
    border: none;
    border-radius: 0px;
}

.btn-group .add{
    background: #86e860;
    color: #484848;
    border: none;
    border-radius: 0px;
}