<section>
    <div class="container">
      <div class="row">
        <div class="col-md-8 list-container" >
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let stock of stockList"> 
                  <span>{{stock.symbol}}  <span class="material-icons" data-toggle="tooltip" data-placement="top" title="{{stock.name}}">info_outline</span>  </span>  
                  <button class="btn remove" (click)="removeStock(stock.symbol)"><i class='material-icons'>close</i></button>
                </li>
                
              </ul>
           
          
        </div>
      </div>
    
    </div>
    </section>